.header {
  margin-left: 350px;
}

#myForm {
  margin-left: 250px;
}

#costOfMeal {
  margin-left: 155px;
}

#tip {
  margin-left: 38px;
}

#submit {
  margin-left: 502px;
}

#totalAndTipAdded {
  margin-left: 247px;
}

#totalTipAmount {
  margin-left: 247px;
}


